body {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
}

.header {
  display:flex;
  flex-direction: row;
  align-items: center;
  width:400px;
  justify-content: space-around;
  margin-bottom:15px;
  
}

.footer {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  width:500px;
  align-items: center;
  margin-top: 20px;
}




.board {
  width:500px;
  height:500px;
  display:grid;
  border: 1px solid rgb(13, 2, 2);
  
}


