body {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  font-family: 'Courier New', Courier, monospace;
  background: white;

}

.header {
  display:flex;
  flex-direction: row;
  align-items: center;
  width:400px;
  justify-content: space-around;
  margin-bottom:15px;
  
}

.footer {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  width:500px;
  align-items: center;
  margin-top: 20px;
}


/* Add this to your existing CSS */

/* Adjustments for smaller screens */
@media (max-width: 768px) {
  h1 {
      font-size: 1.5em; /* Adjust font size for smaller screens */
  }

  .header {
      flex-direction: column; /* Stack header items vertically on smaller screens */
      text-align: center; /* Center-align text in header */
  }

  .board {
      grid-template-columns: repeat(8, 1fr); /* Adjust grid size for smaller screens */
  }

  .footer {
      flex-direction: column; /* Stack buttons vertically on smaller screens */
      text-align: center; /* Center-align buttons in the footer */
  }
}




.board {
  width:500px;
  height:500px;
  display:grid;
  border: 1px solid rgb(13, 2, 2);
  
}

.board div:hover {
  background-color: #8ba6c3;
}


